#footer-container {
	background: var(--main-colour);
	text-align: center;
	padding: 10px;
	font-size: 0.8em;
	color: #fceeed;
}

@media only screen and (max-width: 350px) {
	#footer-container {
		font-size: 0.6em;
	}
	
}